mat-label {
    color: black
}

.form-fields {
    width: 100%;
    margin: 2% 1% 1% 5%;
}

button {
    margin: 5%;
}

@media(max-width:500px) {
    .form-fields {
        display: block;
    }

    mat-form-field {
        width: 80%
    }


}

@media(min-width:600px) {
    mat-form-field {
        margin: 2% 3% 0% 3%;
        width: 25%;
    }
}